.main {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  height: 100vh;
  width: 100vw;

  background-color: #97a8ca;
}

.namespaces {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 10vw;

  background-color: #a5b1ca;
}

.namesapce {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;

  margin-top: 20px;

  height: 70px;
  width: 70px;

  background-color: white;
  cursor: pointer;
}

.namesapce:hover {
  opacity: 0.6;
}

.rooms {
  display: flex;
  flex-direction: column;

  padding-left: 10px;
  padding-right: 10px;

  height: 100vh;
  width: 20vw;

  background-color: white;
}

.rooms ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.rooms ul li {
  width: "100%";
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  background-color: #dbdbdb;

  cursor: pointer;

  font-weight: 600;
}

.rooms ul li:hover {
  width: "100%";
  padding: 10px;
  border-radius: 10px;
  margin: 2px;
  background-color: #adadad;
}

.chat {
  display: flex;
  height: 100vh;
  width: 70vw;
  flex-direction: column;
  justify-content: space-between;

  background-color: #b3c8f1;
}

.chats {
  margin-top: 20px;
  height: 90vh;
  width: 60vw;
}

.chats li {
  list-style: none;
  margin-left: 20px;
}
